In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [47]:
df=pd.read_csv('heart_disease_uci.csv')

In [37]:
df.head()

,id,age,sex,dataset,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal,num
0,1,63,Male,Cleveland,typical angina,145.0,233.0,True,lv hypertrophy,150.0,False,2.3,downsloping,0.0,fixed defect,0
1,2,67,Male,Cleveland,asymptomatic,160.0,286.0,False,lv hypertrophy,108.0,True,1.5,flat,3.0,normal,2
2,3,67,Male,Cleveland,asymptomatic,120.0,229.0,False,lv hypertrophy,129.0,True,2.6,flat,2.0,reversable defect,1
3,4,37,Male,Cleveland,non-anginal,130.0,250.0,False,normal,187.0,False,3.5,downsloping,0.0,normal,0
4,5,41,Female,Cleveland,atypical angina,130.0,204.0,False,lv hypertrophy,172.0,False,1.4,upsloping,0.0,normal,0

In [5]:
columns=['age','sex','cp','trestbps','chol','fbs','restecg','thalch','exang','oldpeak','slope','ca','thal']

In [14]:
df=df[columns]

In [8]:
test_df.isnull().sum()

age           0
sex           0
cp            0
trestbps     59
chol         30
fbs          90
restecg       2
thalch       55
exang        55
oldpeak      62
slope       309
ca          611
thal        486
dtype: int64

In [21]:
df['trestbps']=df['trestbps'].fillna(df['trestbps'].mean())
df['chol']=df['chol'].fillna(df['chol'].mean())
df['fbs']=df['fbs'].fillna(df['fbs'].mode()[0])
df['restecg']=df['restecg'].fillna(df['restecg'].mode()[0])
df['thalch']=df['thalch'].fillna(df['thalch'].mean())
df['exang']=df['exang'].fillna(df['exang'].mode()[0])
df['oldpeak']=df['oldpeak'].fillna(df['oldpeak'].mean())
df['slope']=df['slope'].fillna(df['slope'].mode()[0])
df['ca']=df['ca'].fillna(df['ca'].mode()[0])
df['thal']=df['thal'].fillna(df['thal'].mode()[0])

C:\Users\djdeb\AppData\Local\Temp\ipykernel_19784\1748832068.py:3: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['fbs']=df['fbs'].fillna(df['fbs'].mode()[0])
C:\Users\djdeb\AppData\Local\Temp\ipykernel_19784\1748832068.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['exang']=df['exang'].fillna(df['exang'].mode()[0])

In [22]:
df.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalch      0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
dtype: int64

In [23]:
data=df.copy()

In [24]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoders
label_encoders = {
    'sex': LabelEncoder(),
    'cp': LabelEncoder(),
    'restecg': LabelEncoder(),
    'slope': LabelEncoder(),
    'thal': LabelEncoder()
}

# Apply LabelEncoders to the respective columns
for column, encoder in label_encoders.items():
    data[column] = encoder.fit_transform(data[column])

# Convert boolean columns to integers
data['fbs'] = data['fbs'].astype(int)
data['exang'] = data['exang'].astype(int)

print(data)

     age  sex  cp    trestbps   chol  fbs  restecg      thalch  exang  \
0     63    1   3  145.000000  233.0    1        0  150.000000      0
1     67    1   0  160.000000  286.0    0        0  108.000000      1
2     67    1   0  120.000000  229.0    0        0  129.000000      1
3     37    1   2  130.000000  250.0    0        1  187.000000      0
4     41    0   1  130.000000  204.0    0        0  172.000000      0
..   ...  ...  ..         ...    ...  ...      ...         ...    ...
915   54    0   0  127.000000  333.0    1        2  154.000000      0
916   62    1   3  132.132404  139.0    0        2  137.545665      0
917   55    1   0  122.000000  223.0    1        2  100.000000      0
918   58    1   0  132.132404  385.0    1        0  137.545665      0
919   62    1   1  120.000000  254.0    0        0   93.000000      1

      oldpeak  slope   ca  thal
0    2.300000      0  0.0     0
1    1.500000      1  3.0     1
2    2.600000      1  2.0     2
3    3.500000      0  0.0     1
4    1.400000      2  0.0     1
..        ...    ...  ...   ...
915  0.000000      1  0.0     1
916  0.878788      1  0.0     1
917  0.000000      1  0.0     0
918  0.878788      1  0.0     1
919  0.000000      1  0.0     1

[920 rows x 13 columns]

In [28]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalch,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.300000,0,0,0
1,67,1,0,160,286,0,0,108,1,1.500000,1,3,1
2,67,1,0,120,229,0,0,129,1,2.600000,1,2,2
3,37,1,2,130,250,0,1,187,0,3.500000,0,0,1
4,41,0,1,130,204,0,0,172,0,1.400000,2,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,54,0,0,127,333,1,2,154,0,0.000000,1,0,1
916,62,1,3,132,139,0,2,137,0,0.878788,1,0,1
917,55,1,0,122,223,1,2,100,0,0.000000,1,0,0
918,58,1,0,132,385,1,0,137,0,0.878788,1,0,1
919,62,1,1,120,254,0,0,93,1,0.000000,1,0,1

In [27]:
for col in data.columns:
    if col!='oldpeak':
        data[col]=data[col].astype(int)
    else:
        pass

In [29]:
data.thal.value_counts()

thal
1    682
2    192
0     46
Name: count, dtype: int64

In [30]:
test_data=data.copy()

In [31]:
import pickle

In [32]:
model=pickle.load(open('model.pkl','rb'))
print(type(model))

<class 'sklearn.ensemble._forest.RandomForestClassifier'>

In [33]:
sc=pickle.load(open('scalar.pkl','rb'))
print(type(sc))

<class 'sklearn.preprocessing._data.MinMaxScaler'>

In [34]:
y_pred=model.predict(data)

C:\Users\djdeb\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\base.py:458: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [51]:
y_pred.shape

(920,)

In [48]:
df['num']=df['num'].apply(lambda x: 0 if x<=1 else 1)

In [49]:
df['num'].value_counts()

num
0    676
1    244
Name: count, dtype: int64

In [53]:
y_pred

array([1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1,
       0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1], dtype=int64)

In [52]:
df['num']

0      0
1      1
2      0
3      0
4      0
      ..
915    0
916    0
917    1
918    0
919    0
Name: num, Length: 920, dtype: int64

In [54]:
sum(df['num']==y_pred)

360